<div class="p-5 background-div">
  <h2 class="title">Editar datos</h2>
  <hr>
  <img src="../../assets/default-user-icon.jpg" alt="">
  <form [formGroup]="registerForm" autocomplete="off">
   <div class="row m-5">
     <div class="col">
       <label for="admin">Nombre completo:*</label>
       <input type="text" class="form-control" placeholder="Nombre" id="admin"
       formControlName="nombre">
       <p *ngIf="registerForm.get('nombre')!.touched && registerForm.get('nombre')!.hasError('required')" class="alert-danger">El nombre es obligatorio</p>
     </div>
     <div class="col">
       <label>Genero:</label>
       <select class="form-select" formControlName="genero">
        <option *ngFor="let genero of generos" [ngValue]="genero">{{genero}}</option>
      </select>
      <p *ngIf="registerForm.get('genero')!.touched && registerForm.get('genero')!.hasError('required')" class="alert-danger">El genero es obligatorio</p>
     </div>
   </div>
   <div class="row m-5">
     <div class="col">
       <label>Direccion:*</label>
       <input type="text" class="form-control" placeholder="Direccion"
         formControlName="direccion">
      <p *ngIf="registerForm.get('direccion')!.touched && registerForm.get('direccion')!.hasError('required')" class="alert-danger">La dirección es obligatoria</p>
     </div>
     <div class="col">
       <label>Barrio:*</label>
       <input type="text" class="form-control" placeholder="barrio"
         formControlName="barrio">
       <p *ngIf="registerForm.get('barrio')!.touched && registerForm.get('barrio')!.hasError('required')" class="alert-danger">El barrio es obligatorio</p>
     </div>
   </div>
    <div class="text-center">
     <button type="submit" class="btn btn-primary mb-4" (click)="updateUser()">Editar</button>
    </div>
 </form>
</div>