<div class="background-div">
  <div class="p-5 background-div">
    <h2 class="title">Ajuste de horario</h2>
    <hr>
    <div>
      <h3 class="title">Horarios presentes</h3>
      <div class="alert alert-warning m-5" role="alert" *ngIf="shechedules?.length === 0">
        <b>
          No hay horarios disponibles aún. 
        </b>
      </div>
      <div class="d-flex flex-wrap">
        <div class="card m-4" style="width: 18rem;" *ngFor="let schedule of shechedules">
          <div class="card-body" >
            <h5 class="card-title">{{schedule.lugar}}</h5>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                     (change)="mostrarHorario(schedule._id,schedule.mostrarTodo)" [checked]="schedule.mostrarTodo">
              <label class="form-check-label" for="flexSwitchCheckDefault">Horario clases</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
                    (change)="autorenovar(schedule._id,schedule.regenerar)" [checked]="schedule.regenerar">
              <label class="form-check-label" for="flexSwitchCheckDefault">Autorenovar</label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-sm m-2" data-bs-toggle="modal" 
              data-bs-target="#horarioModal" (click)="getHorario(schedule)">Cambiar titulo</button>
              <button type="submit" class="btn btn-danger btn-sm m-2" (click)="deleteHorario(schedule._id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <h3 class="title">Horas para apertura y cierre de solicitud de turnos</h3>
      <p class="text-center">Ingrese el horario para definir la apertura y cierre de solicitud de turnos.</p>
      <div class="d-flex flex-wrap m-4 justify-content-center">
        <div class="m-3">
          <label>Horario apertura AM: </label>
          <ngb-timepicker [(ngModel)]="aperturaAm" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="m-3">
          <label>Horario apertura PM: </label>
          <ngb-timepicker [(ngModel)]="aperturaPm" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="m-3">
          <label>Horario cierre AM: </label>
          <ngb-timepicker [(ngModel)]="cierreAm" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="m-3">
          <label>Horario cierre PM: </label>
          <ngb-timepicker [(ngModel)]="cierrePm" [meridian]="meridian"></ngb-timepicker>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="aperturaTurnos()">
          Habilitar
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h3 class="title">Opción de cancelar turno</h3>
    <p class="text-center">Habilite o deshabilite si sus usuarios pueden cancelar los turnos o agendas ya registrados.
    </p>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="m-3">
        <label>Hora limite en la mañana: </label>
        <ngb-timepicker [(ngModel)]="limiteAm" [meridian]="meridian"></ngb-timepicker>
      </div>
      <div class="m-3">
        <label>Hora limite en la tarde: </label>
        <ngb-timepicker [(ngModel)]="limitePm" [meridian]="meridian"></ngb-timepicker>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="opcionCancelar()">
        Habilitar
      </button>
    </div>
  </div>
  <hr>
  <div>
    <h3 class="title">Día para renovar horario</h3>
    <p class="text-center">Defina la fecha para cuando desee que se renueven los horarios.
    </p>
    <div>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="m-5">
          <form [formGroup]="renovarHorarioForm">
          <label>Defina el dia: </label>
          <select class="form-select" formControlName="dia">
            <option selected value="1">Lunes</option>
            <option value="2">Martes</option>
            <option value="3">Miercoles</option>
            <option value="4">Jueves</option>
            <option value="5">Viernes</option>
            <option value="6">Sabado</option>
            <option value="0">Domingo</option>
          </select>
          </form>
        </div>
        <div class="m-2">
          <label>Defina la hora: </label>
          <ngb-timepicker [(ngModel)]="renovarHorario" [meridian]="meridian"></ngb-timepicker>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary m-2" (click)="actualizarRenovar()">
          Habilitar
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h3 class="title">Crear nuevo espacio con horario.</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="ml-5 mr-5 pt-1 p-5" *ngIf="showDias">
        <h5 class="title3"><b>1. Seleccione los días para definir el horario.</b></h5>
        <hr>
        <form [formGroup]="diasForm">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="lunes">
            <label class="form-check-label" for="flexCheckDefault">
              Lunes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="martes">
            <label class="form-check-label" for="flexCheckChecked">
              Martes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="miercoles">
            <label class="form-check-label" for="flexCheckChecked">
              Miercoles
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked  formControlName="jueves">
            <label class="form-check-label" for="flexCheckChecked">
              Jueves
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="viernes">
            <label class="form-check-label" for="flexCheckChecked">
              Viernes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="sabado">
            <label class="form-check-label" for="flexCheckChecked">
              Sabado
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="domingo">
            <label class="form-check-label" for="flexCheckChecked">
              Domingo
            </label>
          </div>
        </form>
        <div class="text-center">
          <button class="btn btn-primary m-2" (click)="nextHours()">
            Siguiente
          </button>
        </div>
      </div>
      <div class="ml-5 mr-5 pt-1 p-5" *ngIf="showHoras">
        <h5 class="title3"><b>2. Defina el lugar, la fecha de inicio, hora inicio - fin y las franjas del horario.</b></h5>
        <hr>
        <form [formGroup]="tituloCrearHorarioForm">
          <label>Título del lugar, localidad o profesión</label>
          <input type="text" class="form-control" formControlName="titulo">
        </form>
        <label>Fecha de inicio</label>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect) ="validateDate($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
        <p *ngIf="invalidDate" class="alert-danger">Por favor indique fecha actual o futura para definir la fecha de inicio, no se permiten fechas anteriores</p>
        <div class="d-flex m-5 flex-wrap">
          <div>
            <label>Hora inicio: </label>
            <ngb-timepicker [(ngModel)]="horaInicio" [meridian]="meridian"></ngb-timepicker>
          </div>
          <div>
            <label>Franja turno: </label>
            <ngb-timepicker [(ngModel)]="franjaTurno" [meridian]="meridian"></ngb-timepicker>
          </div>
          <div>
            <label>Franja descanso: </label>
            <ngb-timepicker [(ngModel)]="franjaDescanso" [meridian]="meridian"></ngb-timepicker>
          </div>
          <div>
            <label>Hora fin: </label>
            <ngb-timepicker [(ngModel)]="horaFin" [meridian]="meridian"></ngb-timepicker>
          </div>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary m-2" (click)="showHoras= false; showDias= true">
              Anterior
            </button>
          <button class="btn btn-primary m-2" (click)="nextRenovar()">
            Siguiente
          </button>
        </div>
      </div>

      <div class="ml-5 mr-5 pt-1 p-5 d-flex flex-wrap" *ngIf="showRenovar">
        <div>
          <h5 class="title3"><b>3. Defina si es un horario para clase o si se debe renovar.</b></h5>
          <hr>
          <form [formGroup]="diasForm">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault1" formControlName="horarioClases">
              <label class="form-check-label" for="flexSwitchCheckDefault1">Horario para clases</label>
              <p>(Habilitar para mostrar el horario completo, de lo contrario solo se mostrará el día presente y el siguiente día)</p>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2" formControlName="autorenovar">
              <label class="form-check-label" for="flexSwitchCheckDefault2">Renovar horario</label>
              <p>(Para renovar automáticamente su horario según la fecha que desee)</p>
            </div>
          </form>
          <div class="text-center m-5">
            <button type="submit" class="btn btn-secondary m-2" (click)="showHoras= true; showRenovar= false">Anterior</button>
            <button type="submit" class="btn btn-primary m-2" (click)="createHorario(); showHoras= true;showRenovar= false ">Validar y agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!------------------- Modal Horario --------------->
  <div class="modal fade" id="horarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title title" id="exampleModalLabel">Actualizar titulo</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form [formGroup]="tituloForm">
              <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo">
            </form>
          </div>
        </div>
        <div class="modal-footer m-auto">
          <button type="button" class="btn btn-primary" (click)="updateTitulo(schedule._id)">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>
