<form [formGroup]="updatePasswordForm">
  <section style="z-index: 1; background-color: rgba(174, 176, 177, 0.4);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-3 title">Actualizar contraseña</h3>
              <div class="form-outline mb-2">
                <label class="form-label" for="typeEmailX-2">Contraseña actual</label>
                <div class="input-group mb-4">
                  <input type="password"  [type]="fieldTextType ? 'text' : 'password'" id="typeEmailX-2" class="form-control form-control-lg" formControlName="oldPassword" required/>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <fa-icon [icon]="fieldTextType? faEye : faEyeSlash" (click)="toggleFieldTextType()"></fa-icon>
                   </span>
                  </div>
                </div>
                <p *ngIf="updatePasswordForm.get('oldPassword')!.touched && updatePasswordForm.get('oldPassword')!.hasError('required')" class="alert-danger">La contraseña actual es obligatoria</p>
              </div>
  
              <div class="form-outline mb-2">
                <label class="form-label" for="typePasswordX-2">Nueva contraseña</label>
                <div class="input-group mb-4">
                  <input type="password"  [type]="fieldTextType1 ? 'text' : 'password'" id="typePasswordX-2" class="form-control form-control-lg" formControlName="newPassword"/>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <fa-icon [icon]="fieldTextType1? faEye : faEyeSlash" (click)="toggleFieldTextType1()"></fa-icon>
                   </span>
                  </div>
                </div>
                <p *ngIf="updatePasswordForm.get('newPassword')!.touched && updatePasswordForm.get('newPassword')!.hasError('required')" class="alert-danger">
                  La contraseña nueva es obligatoria
                </p>
                <p *ngIf="updatePasswordForm.get('newPassword')!.touched && updatePasswordForm.get('newPassword')?.hasError('minlength')" class="alert-danger">
                  La contraseña nueva debe tener al menos 6 caracteres
                </p>
              </div>
  
              <div class="form-outline mb-2">
                <label class="form-label" for="typePasswordX-2">Confirma la contraseña</label>
                <div class="input-group mb-4">
                  <input type="password" id="typePasswordX-2"  [type]="fieldTextType2 ? 'text' : 'password'"class="form-control form-control-lg" formControlName="confirmPassword"/>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <fa-icon [icon]="fieldTextType2? faEye : faEyeSlash" (click)="toggleFieldTextType2()"></fa-icon>
                   </span>
                  </div>
                </div>
                <p *ngIf="updatePasswordForm.get('confirmPassword')!.touched && updatePasswordForm.get('confirmPassword')!.hasError('confirmedValidator')" class="alert-danger">Las contraseñas no coinciden</p>
                <p *ngIf="updatePasswordForm.get('confirmPassword')!.touched && updatePasswordForm.get('confirmPassword')?.hasError('minlength')" class="alert-danger">
                  La contraseña nueva debe tener al menos 6 caracteres
                </p>
              </div>
  
              <div>
                <button class="btn btn-primary  m-2" (click)="updatePassword()">Actualizar</button>
              </div>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>