<div class="m-4">
  <h2 class="title">Disponibilidad horarios</h2>
  <div class="alert alert-secondary" role="alert" *ngIf="!isLogged()">
    <b>Para reservar un turno, debe ingresar a su cuenta</b>
  </div>
  <div *ngFor="let shechedule of shechedules; index as i">
    <div *ngIf="isLogged()">
      <b>Profesor(es):</b>
      <div *ngFor="let profesor of profesores" class="d-flex">
        <p> {{profesor.nombre}}</p>
        <div style="margin-left: 5px; width: 100px; height: 20px;" [ngStyle]="{'background-color': profesor.color}"></div>
      </div>
    </div>

    <h4 class="text-center">{{shechedule.lugar}}</h4>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <!-- Encabezado -->
      <thead class="table-light">
        <tr >
          <th scope="col">Dia/Hora</th>
          <!-- Repite los dias -->
            <th class="text-center" scope="col" *ngFor="let day of shechedule.horario[i]?.dia">{{day?.dia | titlecase}} <br /> {{day?.fecha}}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Repite las franjas -->
        <tr *ngFor="let hour of shechedule.horario">
          <th scope="row">{{hour.granDemanda ? "(Alta demanda) ":""}}{{hour.franja}}</th>
          <!-- Repite las celdas -->
          <td *ngFor="let day of hour.dia" [ngStyle]="{'background-color': day?.colorProfesor}">
            <button class="btn btn-block button-agenda" data-bs-toggle="modal" 
                    data-bs-target="#socioModal"
                    (click)="schedule(shechedule,hour, day)"
                    *ngIf="isSocio()"
                    >
            {{isLogged() ? day?.socio1: day?.horaSolicitud ? "Agendado": ""}}</button>
            <button class="btn btn-block button-agenda" 
                    data-bs-toggle="modal" 
                    data-bs-target="#profesorModal" 
                    (click)="schedule(shechedule,hour, day)"
                    *ngIf="isProfesor()"
                    >
              {{isLogged() ? day?.socio1: day?.horaSolicitud ? "Agendado": ""}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div> 
</div>

<!------------Modal socio------------------------>
<div class="modal fade" id="socioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title title" id="exampleModalLabel">Solicitud de turno</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="noShowModal()"></button>
      </div>
      <div class="modal-body">
        <span>
          solicitud a nombre de <b>{{userInfo().nombre}}</b>
        </span><br>
        <span>
          {{day && day}}
        </span><br><br>
        <p>Otros participantes:</p>
        <form [formGroup]="sociosForm">
          <label for="">Solicitante 2:</label>
          <select class="form-select" formControlName="socio2">
            <option selected>Ninguno</option>
            <option [ngValue]="socio" *ngFor="let socio of socios" >{{socio.nombre}}</option>
          </select>
          <label for="">Solicitante 3:</label>
          <select class="form-select" formControlName="socio3">
            <option selected>Ninguno</option>
            <option [ngValue]="socio" *ngFor="let socio of socios" >{{socio.nombre}}</option>
          </select>
          <label for="">Solicitante 4:</label>
          <select class="form-select" formControlName="socio4">
            <option selected>Ninguno</option>
            <option [ngValue]="socio" *ngFor="let socio of socios" >{{socio.nombre}}</option>
          </select>
        </form>
      </div>
      <div class="modal-footer m-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="noShowModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agenda()">Solicitar</button>
      </div>
    </div>
  </div>
</div>

<!-------------------Modal profesor -------------------->
<div class="modal fade" id="profesorModal" tabindex="-1" aria-labelledby="profesorModalLabel" aria-hidden="true" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title title" id="profesorModalLabel">Bienvenido {{userInfo().nombre}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="noShowModal()"></button>
      </div>
      <div class="modal-body">
        <span *ngIf="showAsistencia(); else turn">
         <b>Franja asignada a:</b> 
          {{dayAgenda.socio1}} - {{dayAgenda.socio2}} - {{dayAgenda.socio3}} - {{dayAgenda.socio4}} <br>
        </span>
        <span>
          <b>Franja:</b>
          {{day && day}}
        </span><br>
        <ng-template #turn>
          <span>
            <b>¿Te asignarás a este turno?</b>
          </span><br><br>
        </ng-template>
        
      </div>
      <div class="modal-footer m-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="noShowModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="configureHorario()" *ngIf="!showAsistencia()">Confirmar</button>
        <button type="button" class="btn btn-primary" (click)="configureHorario()" *ngIf="showAsistencia()">Confirmar asistencia</button>
      </div>
    </div>
  </div>
</div>