<div>
  <h2 class="title">Aplicativo web para gestión de citas o turnos citEven_v02</h2>
  <hr>
  <div class="m-5">
    <div>
      <b>Desarrollado por:</b>
      <div class="card m-2" style="width:400px">
        <!-- <img class="card-img-top" src="../../assets/yo.jpg" > -->
        <div class="card-body">
          <h4 class="card-title">Martha Eliana Arenas Márquez</h4>
          <p class="card-text">Estudiante de Ingeniería de Sistemas UIS</p>
          <!-- <div class="text-center">
            <fa-icon [icon]="faFacebook"></fa-icon>
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </div> -->
        </div>
      </div>
      <b>Director de proyecto:</b><br>
      <div class="card m-2" style="width:400px">
        <!-- <img class="card-img-top" src="../../assets/yo.jpg" > -->
        <div class="card-body">
          <h4 class="card-title">Director de proyecto</h4>
          <p class="card-text"> Manuel Guillermo Flórez Becerra <br>
            MSc, Escuela de Ingeniería de Sistemas e Informática.</p>
        </div>
      </div>
    </div>
    <span><br>
      Aplicativo web para el agendamiento de citas o turnos para diferentes escenarios en su segunda versión(2023) 
      desarrollado por estudiantes de último nivel de ingenierías de sistemas de la Universidad Industrial de Santander
      como proyecto de grado y prototipo de ejemplo para la asignatura de programación en la web, usando tecnologías de
      desarrollo MEAN(Mongo, Express, Angular y Node.js) stack.
    </span>
  </div>

  <div class="text-center mb-5">
    <b>Escuela de Ingeniería de Sistemas e Informática</b> <br>
    Facultad de Ingenierías Fisicomecánicas <br>
    Universidad Industrial de Santander <br>
              Bucaramanga <br>
                2023
  </div>
</div>
