<div>
  <h2 class="title">Aplicativo web para gestión de citas o turnos citEven_v02</h2>
  <hr>
  <div class="m-5">
    <span>
      <b>Desarrollado por:</b>
      <ul>
        <li>
          Martha Eliana Arenas Márquez
        </li>
      </ul>
    </span>
    <span>
      <b>Director de proyecto:</b><br>
          Manuel Guillermo Flórez Becerra <br>
          MSc, Escuela de Ingeniería de Sistemas e Informática.
    </span><br>
    <span><br>
      Aplicativo web para el agendamiento de citas o turnos para diferentes escenarios en su segunda versión(2023) 
      desarrollado por estudiantes de último nivel de ingenierías de sistemas de la Universidad Industrial de Santander
      como proyecto de grado y prototipo de ejemplo para la asignatura de programación en la web, usando tecnologías de
      desarrollo MEAN(Mongo, Express, Angular y Node.js) stack.
    </span>
  </div>

  <div class="text-center mb-5">
    <b>Escuela de Ingeniería de Sistemas e Informática</b> <br>
    Facultad de Ingenierías Fisicomecánicas <br>
    Universidad Industrial de Santander <br>
              Bucaramanga <br>
                2023
  </div>
</div>
