<div class="m-5 p-5 div-beckground">
  <h2 class="title-2">Aplicativo web para gestión de citas o turnos citEven_v02</h2>
  <hr>
  <div>
    <div class="d-flex justify-content-center">
      <div class="card m-5" style="width:200px">
        <img class="card-img-top" src="../../assets/yo.jpg" >
        <div class="card-body">
          <h5 class="card-title">Martha Eliana Arenas Márquez</h5>
          <p class="card-text">Estudiante de Ingeniería de Sistemas UIS</p>
          <hr>
          <div class="text-center">
            <fa-icon [icon]="faEnvelope" class="icons"></fa-icon>&nbsp;&nbsp;
            <fa-icon [icon]="faLinkedinIn" class="icons"></fa-icon>
          </div>
        </div>
      </div>
      <div class="card m-5" style="width:200px">
        <img class="card-img-top" src="../../assets/director.jpg" >
        <div class="card-body">
          <h5 class="card-title">Manuel Guillermo Flórez Becerra</h5>
          <p class="card-text">
            MSc, Escuela de Ingeniería de Sistemas e Informática.</p>
            <hr>
            <div class="text-center">
              <fa-icon [icon]="faEnvelope" class="icons"></fa-icon>&nbsp;&nbsp;
              <fa-icon [icon]="faLinkedinIn" class="icons"></fa-icon>
            </div>
        </div>
      </div>
    </div>
    <span><br>
      Aplicativo web para el agendamiento de citas o turnos para diferentes escenarios en su segunda versión(2023) 
      desarrollado por estudiantes de último nivel de ingenierías de sistemas de la Universidad Industrial de Santander
      como proyecto de grado y prototipo de ejemplo para la asignatura de programación en la web, usando tecnologías de
      desarrollo MEAN(Mongo, Express, Angular y Node.js) stack.<br><br>
    </span>
  </div>

  <div class="text-center mb-5">
    <b>Escuela de Ingeniería de Sistemas e Informática</b> <br>
    Facultad de Ingenierías Fisicomecánicas <br>
    Universidad Industrial de Santander <br>
              Bucaramanga <br>
                2023
  </div>
</div>
