<div >
   <h2 class="title">Personalizar datos empresa</h2>
   <hr>
   <form [formGroup]="companyForm"
        (ngSubmit)="updateCompany()">
    <div class="row m-5">
      <div class="col">
        <label for="admin">Admin o representante legal:*</label>
        <input type="text" class="form-control" placeholder="Admin" id="admin"
        formControlName="administrador">
        <p *ngIf="companyForm.get('administrador')!.touched && companyForm.get('administrador')!.hasError('required')" class="alert-danger">El administrador es obligatorio</p>
      </div>
      <div class="col">
        <label for="direccion">Dirección:*</label>
        <input type="text" class="form-control" id="direccion" placeholder="Direccion"
        formControlName="direccion">
        <p *ngIf="companyForm.get('direccion')!.touched && companyForm.get('direccion')!.hasError('required')" class="alert-danger">La dirección es obligatoria</p>
      </div>
    </div>
    <div class="row m-5">
      <div class="col">
        <label>Teléfono(s):</label>
        <input type="text" class="form-control" placeholder="telefono1"
          formControlName="telefono">
      </div>
      <div class="col">
        <label>Correo electrónico:*</label>
        <input type="email" class="form-control" placeholder="correo" 
         formControlName="email">
        <p *ngIf="companyForm.get('email')!.touched && companyForm.get('email')!.hasError('required')" class="alert-danger">El email es obligatorio</p>
        <p *ngIf="companyForm.get('email')!.touched && companyForm.get('email')!.hasError('invalid')" class="alert-danger">Debe ser un email valido</p>
      </div>
    </div>
    <div class="row m-5">
      <div class="col">
        <label for="admin">Título:*</label>
        <input type="text" class="form-control" placeholder="Titulo"
         formControlName="titulo">
        <p *ngIf="companyForm.get('titulo')!.touched && companyForm.get('titulo')!.hasError('required')" class="alert-danger">El titulo es obligatorio</p>
      </div>
      <div class="col">
        <label>Facebook:</label>
        <input type="text" class="form-control" placeholder="Facebook"
         formControlName="facebook">
      </div>
    </div>
    <div class="row m-5">
      <div class="col">
        <label>Instagram:</label>
        <input type="text" class="form-control" placeholder="Instagram"
          formControlName="instagram">
      </div>
      <div class="col">
        <label>Whatsapp:</label>
        <input type="text" class="form-control" placeholder="Whatsapp"
          formControlName="whatsapp">
      </div>
    </div>
    <div class="row m-5">
      <div class="col">
        <label>Twitter:</label>
        <input type="text" class="form-control" placeholder="Twitter"
          formControlName="twitter">
      </div>
      <div class="col">
        <label>Linkedin:</label>
        <input type="text" class="form-control" placeholder="Linkedin"
          formControlName="linkedin">
      </div>
    </div>
    <div class="row m-5">
      <span>
        <label>Texto, políticas o información a mostrar:</label>
        <textarea class="form-control" rows="5"
          formControlName="descripcion"></textarea>
      </span>
     </div>
     <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg mb-4">Editar</button>
     </div>
  </form>
</div>
