<nav class="navbar navbar-expand-lg" style="background-color: #123054;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/club.png" alt="..." height="90">
      Club Union
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!isLogged(); else logged">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agenda">Disponibilidad agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">login</a>
        </li>
        <button type="button" class="btn btn-info" routerLink="register">Sign Up</button>
      </ul>
    </div>
    <ng-template #logged>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!isAdmin(); else admin">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" routerLink="formUsers">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" routerLink="dashboard">Disponibilidad Horarios</a>
          </li>
          <li class="nav-item">
           <a class="nav-link">Bienvenido {{userInfo().nombre}}, estado: {{userInfo().activo? "activo": "desactivado"}}</a>
          </li>
        </ul>
        <button type="button" class="btn btn-info" (click)="logOut()" routerLink="home">Logout</button>
      </div>
      <ng-template #admin>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pagina
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-text" routerLink="personalizar">Personalizar</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Horario
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-text" routerLink="configureAgenda">Configurar</a></li>
                <li><a class="dropdown-item dropdown-text" routerLink="agenda">Ver horarios</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-text" routerLink="admin/register">Registrar</a></li>
                <li><a class="dropdown-item dropdown-text" routerLink="admin/users">Administrar</a></li>
                <li><a class="dropdown-item dropdown-text" routerLink="formUsers">Mi cuenta</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Guia
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-text" routerLink="guia/ayuda">Ayuda</a></li>
                <li><a class="dropdown-item dropdown-text"  routerLink="aboutUs">Acerca de</a></li>
              </ul>
            </li>
            <li class="nav-item">
             <a class="nav-link">Bienvenido {{userInfo().nombre}}, estado: {{userInfo().activo? "activo": "desactivado"}}</a>
            </li>
          </ul>
          <button type="button" class="btn btn-info" (click)="logOut()" routerLink="home">Logout</button>
        </div>
      </ng-template>
    </ng-template>
  </div>
</nav>
