<div class="p-5 background-div ">
  <h2 class= "title">Historia</h2>
  <span>
   {{description}}
  </span>
  <div class="row"> 
    <div class="column">
      <img src="./../../../assets/club.png"class="images" >
      <img src="./../../../assets/eventos.jpg">
    </div>
    <div class="column">
      <img src="./../../../assets/porteria.jpg">
      <img src="./../../../assets/piscina.jpg">
    </div>  
    <div class="column">
      <img src="./../../../assets/club.png">
      <img src="./../../../assets/festejos.jpg">
    </div>
    <div class="column">
      <img src="./../../../assets/futbol.jpg">
      <img src="./../../../assets/tenis.jpg">
    </div>
  </div>
</div>

