<div class="p-5">
  <div class="d-flex">
    <img src="./../../../assets/club.png" alt="..." height="90">
    <h2 class="mt-4">{{title}}</h2>
  </div>
  <h2 class= "title">Historia</h2>
  <span>
   {{description}}
  </span>
</div>
<div class="row"> 
  <div class="column">
    <img src="./../../../assets/club.png" >
    <img src="./../../../assets/eventos.jpg">
  </div>
  <div class="column">
    <img src="./../../../assets/porteria.jpg">
    <img src="./../../../assets/piscina.jpg">
  </div>  
  <div class="column">
    <img src="./../../../assets/club.png">
    <img src="./../../../assets/festejos.jpg">
  </div>
  <div class="column">
    <img src="./../../../assets/futbol.jpg">
    <img src="./../../../assets/tenis.jpg">
  </div>
</div>
