<div class="p-5 background-div">
  <h2 class="title">Personalizar imagenes a mostrar en la página</h2>
  <hr>
  <div>
    <div class="m-4 p-5" style="border: 1px solid blue;">
      <h3 class="title">Carrusel</h3>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-3" style="width: 13rem; background-color: rgb(173, 177, 216);" *ngFor="let image of imagesCarrusel">
          <img  class="card-img-top image-card"  [src]="image.imagen">
          <div class="card-body">
            <h5 class="card-title">{{image.titulo}}</h5>
            <p class="card-text">{{image.descripcion}}</p>
            <div class="text-center">
              <button class="btn-primary btn-sm mx-1" ngbTooltip="Editar" (click)="preUpdateImage(image._id,image)" data-bs-toggle="modal" 
              data-bs-target="#updateModal">
                <fa-icon [icon]="faPencil" ></fa-icon>
              </button>
              <button class="btn-danger btn-sm mx-1" ngbTooltip="Eliminar" (click)="deleteImage(image._id)">
                  <fa-icon [icon]="faTrash" ></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div> 
      <div class="text-center mt-5">
        <button class="btn btn-primary" data-bs-toggle="modal" 
                        data-bs-target="#exampleModal" (click)="imageType('carrusel')">
                       Agregar
        </button>
      </div>
    </div>
  
    <div class="m-4 p-5" style="border: 1px solid blue;">
      <h3 class="title">Canchas</h3>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-3" style="width: 13rem; background-color: rgb(173, 177, 216);" *ngFor="let image of imagesCanchas">
          <img  class="card-img-top image-card"  [src]="image.imagen">
          <div class="card-body">
            <h5 class="card-title">{{image.titulo}}</h5>
            <p class="card-text">{{image.descripcion}}</p>
            <div class="text-center">
              <button class="btn-primary btn-sm mx-1" ngbTooltip="Editar">
                <fa-icon [icon]="faPencil" ></fa-icon>
              </button>
              <button class="btn-danger btn-sm mx-1" ngbTooltip="Eliminar" (click)="deleteImage(image._id)">
                  <fa-icon [icon]="faTrash" ></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="text-center">
        <button class="btn btn-primary" data-bs-toggle="modal" 
                        data-bs-target="#exampleModal"
                        (click)="imageType('canchas')"
                        >
                       Agregar
        </button>
      </div>
    </div>
  
    <div class="m-4 p-5" style="border: 1px solid blue;">
      <h3 class="title">Eventos</h3>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-3" style="width: 13rem; background-color: rgb(173, 177, 216);" *ngFor="let image of imagesEventos">
          <img  class="card-img-top image-card"  [src]="image.imagen">
          <div class="card-body">
            <h5 class="card-title">{{image.titulo}}</h5>
            <p class="card-text">{{image.descripcion}}</p>
            <div class="text-center">
              <button class="btn-primary btn-sm mx-1" ngbTooltip="Editar">
                <fa-icon [icon]="faPencil" ></fa-icon>
              </button>
              <button class="btn-danger btn-sm mx-1" ngbTooltip="Eliminar" (click)="deleteImage(image._id)">
                  <fa-icon [icon]="faTrash" ></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" data-bs-toggle="modal" 
                        data-bs-target="#exampleModal"
                        (click)="imageType('eventos')"
                        >
                       Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  upload images-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cargar imagen</h5>
        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" (change)="preUploadImages($event)">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
        <div class="text-center m-5" *ngIf="urlImage">
          <img [src]="urlImage | safeUrlPipe" alt="previsualización" style="width: 200px; height: 200px;"/><br>
          <form 
          [formGroup]="imageForm"
          >
          <label><b>Titulo</b></label>
          <input type="text" class="form-control" formControlName="titulo">
          <label><b>Descripción</b></label>
          <textarea name="message" rows="5" class="form-control" cols="30" formControlName="descripcion">
            Enter your message here...
          </textarea>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button class="btn btn-primary m-4"  (click)="uploadImages()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal  upload images-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
      </div>
      <div class="modal-body">
        <div class="text-center m-5">
          <form 
          [formGroup]="imageForm"
          >
          <label><b>Titulo</b></label>
          <input type="text" class="form-control" formControlName="titulo">
          <label><b>Descripción</b></label>
          <textarea name="message" rows="5" class="form-control" cols="30" formControlName="descripcion">
            Enter your message here...
          </textarea>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button class="btn btn-primary m-4"  (click)="updateImage()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>