<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <h4>
        Contacta con nosotros
      </h4>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <span>Dirección:</span>
              <p>{{company.message.direccion}}</p>
            </li>
            <li>
              <span>Telefono:</span>
              <p> {{company.message.telefono1}} </p>
            </li>
            <li>
              <span>Correo electrónico:</span>
              <p>{{company.message.email}}</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Redes sociales</h5>

          <ul class="list-unstyled mb-0">
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Todos los derechos reservados.
  </div>
</footer>
