<form autocomplete="off"
[formGroup]="registerForm"
(ngSubmit)="register()">
<section style="z-index: 1; background-color: rgba(66, 182, 211, 0.4);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-3 title">Registro</h3>
            <p>Llene todos los campos obligatorios para crear la cuenta</p>
            <div class="form-outline mb-1">
              <label class="form-label" for="documento">Número documento *</label>
              <input type="text" id="documento" class="form-control form-control-lg" formControlName="document"/>
              <p *ngIf="registerForm.get('document')!.touched && registerForm.get('document')!.hasError('required')" class="alert-danger">El documento es obligatorio</p>
              <p *ngIf="registerForm.get('document')!.touched && registerForm.get('document')!.hasError('pattern')" class="alert-danger">El documento debe ser numerico</p>
            </div>
            <div class="form-outline mb-1">
              <label class="form-label" for="codigo">Código *</label>
              <input type="text" id="codigo" class="form-control form-control-lg" formControlName="code"/>
              <p *ngIf="registerForm.get('code')!.touched && registerForm.get('code')!.hasError('required')" class="alert-danger">El codigo es obligatorio</p>
              <p *ngIf="registerForm.get('code')!.touched && registerForm.get('code')!.hasError('pattern')" class="alert-danger">El codigo debe ser numerico</p>
            </div>
            <div class="form-outline mb-1">
              <label class="form-label" for="typeEmailX-2">Email *</label>
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="email"/>
              <p *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.hasError('required')" class="alert-danger">El correo es obligatorio</p>
              <p *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.hasError('email')" class="alert-danger">El correo es invalido</p>
            </div>
            <div class="form-outline mb-1">
              <label class="form-label" for="typePasswordX-2">Password *</label>
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" formControlName="password"/>
              <p *ngIf="registerForm.get('email')!.touched && registerForm.get('password')!.hasError('required')" class="alert-danger">La contraseña es obligatoria</p>
            </div>
            <div class="d-grid gap-2 mb-3">
              <button class="btn btn-primary btn-lg" type="submit">Registrarse</button>
            </div>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>